html{
	font-family: Bahnschrift;
	font-size: 16px;
	color: #ffffffff;
	cursor: url(../img/cursor.png), default;
}
body{
	min-height: 100vh;
	background-color: #000000ff;
	background-image: url(../img/logo.svg);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-attachment: fixed;
	background-size: contain;
	scroll-behavior: smooth;
}
#homepage{
	display: block;
	height:100vh;
	overflow: hidden;
	box-sizing: border-box;
}
#homepage>main{
	display: block;
	height: auto;
	box-sizing: border-box;
}
#starter{
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
}
#jap{
	font-family: 'Yu Gothic UI';
}
header{
	background-color: #a0000080;
	backdrop-filter: blur(5px);
	padding: 10px;
	margin: 0 10px 10px 10px;
	border-radius: 0 0 20px 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	position: sticky;
	top: 0;
	font-size: 1.5rem;
	z-index: 1;
}
#starter{
	background-color: #a0000080;
	backdrop-filter: blur(5px);
	padding: 10px;
	margin: 10px;
	border-radius:20px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	position: sticky;
	text-align: center;
	text-transform: uppercase;
	top: 0;
	font-size: 1.5rem;
	height: 93vh;
}
#starter>div{
	justify-self: center;
	margin: auto;
	color: #fffc8080;
	font-size: 10vw;
	font-weight: 200;
	transition-duration: 750ms;
}
#starter>div:active{
	color: #fffc80ff;
	font-weight: 900;
	text-shadow: #ffc000ff 0 0 7px;
	transition-duration: 500ms;
}
#footinit{
	height: 3vh;
}
nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}
#open{
	display: inline-block;
	font-size: 3rem;
	width: 100%;
}
#menu{
	display: none;
}
.menuresponsive,#close{
	display: none;
}
#menu:checked~.menuresponsive{
	display: flex;
}
#menu:checked~#close{
	display: block;
}
#menu:checked~#open{
	display: none;
}
#close{
	font-size: 2rem;
	align-self: flex-end;
	line-height: 0%;
	position: relative;
	bottom: 0.75rem;
}
ul{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 25vh;
	text-transform: uppercase;
	font-stretch: semi-condensed;
}
li{
	color: #fffc8080;
	font-weight: 100;
	font-stretch: semi-condensed;
	transition-duration: 750ms;
	font-size: 2rem;
}
li:active{
	color: #fffc80ff;
	font-weight: 700;
	text-shadow: #ffc000ff 0 0 7px;
	transition-duration: 500ms;
}
p{
	padding: 5px 10px;
}
#languages{
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	height: 10rem;
}
main{
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
}
.titre{
	padding: 1rem;
	box-sizing: border-box;
	width: 100vw;
}
.titre>img{

	box-sizing: border-box;
	width: 100%;
	background-color: #000000a0;
	backdrop-filter: blur(5px);
}
.titre2{
	display: block;
	text-align: center;
	width: 100vw;
	font-size: 14.5vw;
	font-stretch: semi-condensed;
	font-weight: 900;
	text-shadow: #ffffffff 0 0 7px;
	color: #000000ff;
}
#nom,#praenom{
	font-size: 14.5vw;
	font-stretch: semi-condensed;
	font-weight: 900;
	text-shadow: #ffffffff 0 0 7px;
	color: #000000ff;
	padding: 0 1rem;
}
#nom{
	text-align: left;
}
#praenom{
	text-align: right;
	line-height: 0;
	margin: -1.5vw 0 1rem;
}
.flagicon{
	width: 4.5rem;
	height: 4.5rem;
	border-radius: 50%;
	overflow: hidden;
    transition-duration: 250ms;
}
.flagicon:hover{
	width: 4.5rem;
	height: 4.5rem;
	border-radius: 30%;
	overflow: hidden;
    transition-duration: 250ms;
}
.flagicon>img{
	width: 100%;
	box-sizing: border-box;
}
.flagicon>a>img{
	width: 100%;
	box-sizing: border-box;
}
section{
	margin: 1rem 0;
}
.flex{
	margin-top: 3rem;
	background-color: #000000a0;
	backdrop-filter: blur(5px);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding: 1rem;
	box-sizing: border-box;
	font-size: 1.4rem;
}
h2{
	display: block;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	margin: auto;
	font-size: 2rem;
	color: #fffcc0ff;
	font-weight: 700;
	font-style: italic;
	text-shadow: #ffc000ff 0 0 7px;
	margin: 1rem;
}
.presentation{
	line-height: 3rem;
	font-size: 2rem;
}
.presentation>img{
	width: 75%;
}
.centertext{
	display: block;
	text-align: center;
}
.lefttext{
	display: block;
	width: fit-content;
	text-align: left;
	align-self: flex-start;
	overflow: hidden;
}
.righttext{
	display: block;
	width: fit-content;
	text-align: right;
	align-self: flex-end;
	overflow: hidden;
}
.skillbox{
	width: 25%;
	max-width: 200px;
}
.skillbox>img{
	width: 100%;
}
.prolink{
	display: flex;
	flex-direction: column;
	position: relative;
	height: 40vh;
	background-color: #00000080;
	backdrop-filter: blur(5px);
}
.qr{
	display: none;
}
#linkdin, #pixv{
	display: block;
	text-align: center;
	margin: auto;
	height: 100px;
}
#linkdin>a, #pixv>a{
	text-align: center;
}
#linkdin>a>img, #pixv>a>img{
	height: 100%;
}
#linkedin, #pixiv{
	display: block;
	text-align: center;
	text-transform: uppercase;
	margin: auto;
	font-size: 1.5rem;
	color: #fffcc0ff;
	font-stretch: semi-condensed;
	font-weight: 700;
	font-style: italic;
	text-shadow: #ffc000ff 0 0 7px;
	margin: 1rem;
}
footer{
	background-color: #a0000080;
	backdrop-filter: blur(5px);
	padding: 10px;
	margin:10px 10px 0 10px;
	border-radius:20px 20px 0 0;
	display: block;
	width: calc(100vw - 20px);
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
}
@media screen and (min-width:768px) and (max-width:1079px){
	#open,#close{
		display: none;
	}
	#starter>div{
		justify-self: center;
		margin: auto;
		color: #fffc8080;
		font-size: 10vw;
		font-weight: 200;
		transition-duration: 750ms;
	}
	#starter>div:hover{
		color: #fffc80ff;
		font-weight: 900;
		text-shadow: #ffc000ff 0 0 7px;
		transition-duration: 500ms;
	}
	.menuresponsive{
		display: flex;
	}
	ul{
		flex-direction: row;
		width: calc( 100% - 12rem );
		justify-content: space-around;
		height: auto;
		align-items: center;
		text-align: center;
	}
	#languages{
		display: flex;
		flex-direction: row;
		justify-content:space-between;
		width: 10rem;
		height: fit-content;
	}
	li{
		color: #fffc8080;
		font-weight: 100;
		font-stretch: condensed;
		transition-duration: 750ms;
		font-size: 2rem;
		width: 33.3%;
	}
	li:active,li:hover{
		color: #fffc80ff;
		font-weight: 700;
		text-shadow: #ffc000ff 0 0 7px;
		transition-duration: 500ms;
	}
}
@media screen and (min-width:1080px){
	#open,#close{
		display: none;
	}
	.menuresponsive{
		display: flex;
	}
	#starter>div{
		justify-self: center;
		margin: auto;
		color: #fffc8080;
		font-size: 5rem;
		font-weight: 200;
		transition-duration: 750ms;
	}
	#starter>div:hover{
		color: #fffc80ff;
		font-weight: 900;
		text-shadow: #ffc000ff 0 0 7px;
		transition-duration: 500ms;
	}
	ul{
		flex-direction: row;
		width: calc( 100% - 12rem );
		justify-content: space-around;
		height: auto;
		align-items: center;
	}
	#languages{
		display: flex;
		flex-direction: row;
		justify-content:space-between;
		width: 10rem;
		height: fit-content;
	}
	li{
		color: #fffc8080;
		font-weight: 100;
		font-stretch: condensed;
		transition-duration: 750ms;
		font-size: 2.5rem;
	}
	li:hover{
		color: #fffc80ff;
		font-weight: 700;
		text-shadow: #ffc000ff 0 0 7px;
		transition-duration: 500ms;
	}
	.titre{
		width: 1080px;
		padding: 1rem;
		box-sizing: border-box;
		justify-content: center;
		margin: auto;
	}
	#nom,#praenom{
		font-size: 10rem;
		font-stretch: semi-condensed;
		font-weight: 900;
		text-shadow: #ffffffff 0 0 7px;
		color: #000000ff;
		padding: 0 1rem;
	}
	#nom{
		text-align: left;
	}
	#praenom{
		text-align: right;
		line-height: 0;
		margin: -20px 0 1rem;
	}
	.left{
		width: 48.5%;
		border-radius: 0 20px 20px 0;
	}
	.right{
		width: 48.5%;
		border-radius:20px 0 0 20px;
	}
	#linkdin, #pixv{
		display: none;
	}
	.qr{
		display: block;
		height: 350px;
		text-align: center;
		margin: 0;
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.qroff{
		display: block;
		overflow: hidden;
		transition-duration: 250ms;
	}
	.qron{
		opacity: 0%;
		overflow: hidden;
		transition: opacity 2s;
	}
	.qroff:hover~.qron, .qron:hover{
		overflow: hidden;
		opacity: 100%;
		transition: opacity 1s;
	}
	.qr>img{
		height: 100%;
	}
	#linkedin{
		display: block;
		text-align: center;
		text-transform: uppercase;
		margin: auto;
		font-size: 1.5rem;
		color: #fffcc0ff;
		font-stretch: semi-condensed;
		font-weight: 700;
		font-style: italic;
		text-shadow: #ffc000ff 0 0 7px;
		margin: 1rem;
	}
}