@font-face {
	font-family: ZenMaruGothic;
	src: url(../font/ZenMaruGothic/ZenMaruGothic-Regular.ttf);
}
html{
	font-family: Bahnschrift;
	font-size: 16px;
	color: #ffffffff;
	cursor: url(../img/cursor.png), default;
}
a{
	cursor: url(../img/cursor.png), pointer;
}
body{
	min-height: 100vh;
	background-color: #000000ff;
	background-image: url(../img/logo.svg);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-attachment: fixed;
	background-size: contain;
	scroll-behavior: smooth;
}
#homepage{
	display: block;
	height:100vh;
	overflow: hidden;
	box-sizing: border-box;
}
#homepage>main{
	display: block;
	height: auto;
	box-sizing: border-box;
}
#starter{
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
}
header{
	background-color: #a0000080;
	backdrop-filter: blur(5px);
	padding: 10px;
	margin: 0 10px 10px 10px;
	border-radius: 0 0 20px 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	position: sticky;
	top: 0;
	font-size: 1.5rem;
	z-index: 1;
}
#starter{
	background-color: #a0000080;
	backdrop-filter: blur(5px);
	padding: 10px;
	margin: 10px;
	border-radius:20px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	position: sticky;
	text-align: center;
	text-transform: uppercase;
	top: 0;
	font-size: 1.5rem;
	height: 93vh;
}
#starter>div{
	justify-self: center;
	margin: auto;
	color: #fffc8080;
	font-size: 10vw;
	font-weight: 200;
	transition-duration: 750ms;
}
#starter>div:active{
	color: #fffc80ff;
	font-weight: 900;
	text-shadow: #ffc000ff 0 0 7px;
	transition-duration: 500ms;
}
#footinit{
	height: 3vh;
}
nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}
#open{
	display: inline-block;
	font-size: 3rem;
	width: 100%;
}
#menu{
	display: none;
}
.menuresponsive,#close{
	display: none;
}
#menu:checked~.menuresponsive{
	display: flex;
}
#menu:checked~#close{
	display: block;
}
#menu:checked~#open{
	display: none;
}
#close{
	font-size: 2rem;
	align-self: flex-end;
	line-height: 0%;
	position: relative;
	bottom: 0.75rem;
}
ul{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 25vh;
	text-transform: uppercase;
	font-stretch: semi-condensed;
}
li{
	color: #fffc8080;
	font-weight: 200;
	font-stretch: semi-condensed;
	transition-duration: 750ms;
	font-size: 2rem;
}
li:active{
	color: #fffc80ff;
	font-weight: 700;
	text-shadow: #ffc000ff 0 0 7px;
	transition-duration: 500ms;
}
.link{
	display: block;
	text-align: center;
	text-transform: uppercase;
	margin: auto;
	font-size: 1.5rem;
	color: #fffcc0ff;
	font-stretch: semi-condensed;
	font-style: italic;
	font-weight: 700;
	text-shadow: #ffc000ff 0 0 7px;
	margin: 1rem;
}
.jtext{
	font-family: 'ZenMaruGothic';
	font-stretch: normal;
	font-style: normal;
}
p{
	padding: 5px 10px;
}
#languages{
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	height: 10rem; 
}
main{
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
}
.titre{
	padding: 1rem;
	box-sizing: border-box;
	width: 100vw;
}
.titre>img{
	box-sizing: border-box;
	width: 100%;
	background-color: #000000a0;
	backdrop-filter: blur(5px);
}
.titre2{
	display: block;
	text-align: center;
	width: 100vw;
	font-size: 14.5vw;
	font-stretch: semi-condensed;
	font-weight: 900;
	text-shadow: #ffffffff 0 0 7px;
	color: #000000ff;
}
#nom,#praenom{
	font-size: 14.5vw;
	font-stretch: semi-condensed;
	font-weight: 900;
	text-shadow: #ffffffff 0 0 7px;
	color: #000000ff;
	padding: 0 1rem;
}
#nom{
	text-align: left;
}
#praenom{
	text-align: right;
	line-height: 0;
	margin: -1.5vw 0 1rem;
}
.flagicon{
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	overflow: hidden;
    transition-duration: 250ms;
}
.flagicon:hover{
	width: 4rem;
	height: 4rem;
	border-radius: 30%;
	overflow: hidden;
    transition-duration: 250ms;
}
.flagicon>img{
	width: 100%;
	box-sizing: border-box;
}
.flagicon>a>img{
	width: 100%;
	box-sizing: border-box;
}
section{
	margin: 1rem 0;
}
.blur{
	background-color: #00000080;
	backdrop-filter: blur(5px);
	transition-duration: 750ms;
}
.right, .left{
	margin-top: 3rem;
	height: fit-content;
	width: 100%;
}
.right2{
	height: fit-content;
}
.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding: 1rem;
	box-sizing: border-box;
	font-size: 1.4rem;
}
h2{
	display: block;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	margin: auto;
	font-size: 2rem;
	color: #fffcc0ff;
	font-weight: 700;
	font-style: italic;
	text-shadow: #ffc000ff 0 0 7px;
	margin: 1rem;
}
.presentation{
	font-size: 2rem;
	line-height: 3rem;
}
.presentation>img{
	width: 75%;
}
.centertext{
	display: block;
	text-align: center;
}
.lefttext{
	display: inline-block;
	width: fit-content;
	max-width: 50%;
	text-align: left;
	align-self: flex-start;
	overflow: hidden;
}
.righttext{
	text-align: right;
	overflow: hidden;
}
.skillbox{
	width: 25%;
	max-width: 200px;
	position: relative;
}
.skillbox>div{
	width: 100%;
	max-width: 200px;
}
.skillbox>div>img{
	width: 100%;
}
.prolink{
	position: relative;
	height: fit-content;
}
.skills{
	display: flex;
	background-color: #00000080;
	backdrop-filter: blur(5px);
	width: 100%;
}
.qr, .iconoff{
	display: none;
}
#insta, #linkdin, #pixv, #mail, #phone{
	display: block;
	text-align: center;
	margin: auto;
	height: 100px;
}
#insta>a, #linkdin>a, #pixv>a, #mail>a, #phone>a{
	text-align: center;
}
#insta>a>img, #linkdin>a>img, #pixv>a>img, #mail>a>img, #phone>a>img{
	height: 100%;
}
footer{
	background-color: #a0000080;
	backdrop-filter: blur(5px);
	padding: 10px;
	margin:10px 10px 0 10px;
	border-radius:20px 20px 0 0;
	display: block;
	width: calc(100vw - 20px);
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
}
#datehour{
    position: relative;
	display: flex;
	justify-content: space-around;
    width: 100%;
    margin: auto;
	font-stretch: condensed;
	font-weight: 700;
	width: 100%;
}
#datehour>*{
    color: #ffc0c0;
    font-family: Bahnschrift;
}
.clock {
	width: 300px;
	height: 300px;
    position: relative;
    padding: 1vh;
    border: 1vh solid #ffc0c0ff;
    border-radius: 50%;
    transform-origin: center;
    box-shadow: 0 0 10px #ff1010ff, inset 0 0 10px #ff1010ff;
}
#horologium{
    display: inline-block;
    position: absolute;
    transform-origin: center;
    top: 40%;
    width: 100%;
    height: fit-content;
    text-align: center;
    margin: auto;
    font-size: 4vh;
    font-weight: 700;
    text-shadow:0 0 5vh #ff1010ff;
}
.hand {
    width: 50%;
    right: 50%;
    height: 0;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    border-radius: 6px;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.hand.hours {
    width: 30%;
    z-index: 3;
    background: #00000000;
}
.hand.mins {
    z-index: 4;
    width: 40%;
    background: #00000000;
}
.hand.secs {

    z-index: 5;
    background: #00000000;
    width: 45%;
}
.dot {
    content: '';
    position: absolute;
    background: #ff001a00;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(0, -50%);
}
.dot > span {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
#heure{
    font-size: 2rem;
    text-shadow:0 0 6vh #ff1010ff;
}
#minute{
    font-size: 2rem;
    text-shadow:0 0 3.5vh #ff1010ff;
}
#seconde{
    font-size: 1rem;
    text-shadow:0 0 2vh #ff1010ff;
}
.arms,.flag{
    flex: auto;
    height: 25rem;
    margin: 0.5rem;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 1rem;
    transition-duration: 1500ms;
}
.arms{
    min-width: 15rem;
    width: 25%;
}
.flag>img,.arms>img{
    width: 100%;
    height: 100%;
    transition-duration: 1000ms;
}
.flag>img:hover,.arms>img:hover{
    transform: scale(1.2);
    transition-duration: 1000ms;
}
.flag>img{
    object-fit: cover;
}
.arms>img{
    object-fit: contain;
}
#gallery{
	/* display:none; */
	position: fixed;
    top: 68px;
    left: 0;
    width: calc(100% - 20px);
	margin: 10px;
    height: calc(100% - 124px);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
	box-sizing: border-box;
	border-radius: 20px;
}
#gallery img{
    max-width: 80%;
    max-height: 60vh;
}
#closeGal{
    position: absolute;
	top: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	transition-duration: 750ms;
}
#closeGal:hover{
	transition-duration: 500ms;
}
.arrowbox{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
	width: 50px;
	height: 50px;
}
#leftGal{
    left: 3%;
}
#rightGal{
    right: 3%;
}
.arrow{
	position: relative;
	width: 100%;
	height: 100%;
}
.arrowoff, #closeoff{
	display: none;
}
.arrowon{
	display: block;
}
.arrowoff, .arrowon{
	transition-duration: 750ms;
}
#gallery{
	display: none;
	flex-direction: column;
	transition-duration: 750ms;
}
#galMainPic{
	height: auto;
}
.thumb{
	width: 100px;
}
.activeThumb{
	border: #ffffffff 2px solid;
	border-radius: 10px;
	box-sizing: border-box;
}
@media screen and (min-width:768px) and (max-width:1079px){
	#open,#close{
		display: none;
	}
	#starter>div{
		justify-self: center;
		margin: auto;
		color: #fffc8080;
		font-size: 10vw;
		font-weight: 200;
		transition-duration: 750ms;
	}
	#starter>div:hover{
		color: #fffc80ff;
		font-weight: 900;
		text-shadow: #ffc000ff 0 0 7px;
		transition-duration: 500ms;
	}
	.menuresponsive{
		display: flex;
	}
	ul{
		flex-direction: row;
		width: calc( 100% - 12rem );
		justify-content: space-around;
		height: auto;
		align-items: center;
		text-align: center;
	}
	#languages{
		display: flex;
		flex-direction: row;
		justify-content:space-between;
		width: 10rem;
		height: fit-content;
	}
	li{
		color: #fffc8080;
		font-weight: 100;
		font-stretch: condensed;
		transition-duration: 750ms;
		font-size: 2rem;
		width: 33.3%;
	}
	li:active,li:hover{
		color: #fffc80ff;
		font-weight: 700;
		text-shadow: #ffc000ff 0 0 7px;
		transition-duration: 500ms;
	}
	#gallery{
		top: 84px;
		height: calc(100% - 140px);
}
}

@media screen and (min-width:1080px){
	#open,#close{
		display: none;
	}
	.menuresponsive{
		display: flex;
	}
	#starter>div{
		justify-self: center;
		margin: auto;
		color: #fffc8080;
		font-size: 5rem;
		font-weight: 200;
		transition-duration: 750ms;
	}
	#starter>div:hover{
		color: #fffc80ff;
		font-weight: 900;
		text-shadow: #ffc000ff 0 0 7px;
		transition-duration: 500ms;
	}
	ul{
		flex-direction: row;
		width: calc( 100% - 12rem );
		justify-content: space-around;
		height: auto;
		align-items: center;
	}
	#languages{
		display: flex;
		flex-direction: row;
		justify-content:space-between;
		width: 10rem;
		height: fit-content;
	}
	li{
		color: #fffc8080;
		font-weight: 100;
		font-stretch: condensed;
		transition-duration: 750ms;
		font-size: 2.5rem;
	}
	li:hover,#readpage{
		color: #fffc80ff;
		font-weight: 700;
		text-shadow: #ffc000ff 0 0 7px;
		transition-duration: 500ms;
	}
	.titre{
		width: 1080px;
		padding: 1rem;
		box-sizing: border-box;
		justify-content: center;
		margin: auto;
	}
	#nom,#praenom{
		font-size: 10rem;
		font-stretch: semi-condensed;
		font-weight: 900;
		text-shadow: #ffffffff 0 0 7px;
		color: #000000ff;
		padding: 0 1rem;
	}
	#nom{
		text-align: left;
	}
	#praenom{
		text-align: right;
		line-height: 0;
		margin: -20px 0 1rem;
	}
	.left{
		width: 48.5%;
		border-radius: 0 20px 20px 0;
	}
	.right{
		width: 48.5%;
		border-radius:20px 0 0 20px;
	}
	.flex{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		overflow: hidden;
	}
	.half{
		width: 50%;
		padding: 1rem;
		box-sizing: border-box;
		font-size: 1.4rem;
	}
	.full{
		width: 100%;
		padding: 1rem;
		box-sizing: border-box;
		font-size: 1.4rem;
	}
	.clock {
	width: 300px;
	height: 300px;
	}
	#datehour{
		position: relative;
		width: 100%;
	}
	.prolink{
		height: 45vh;
	}
	#insta, #linkdin, #pixv, #mail, #phone{
		display: none;
	}
	.qr{
		display: block;
		height: 350px;
		text-align: center;
		margin: 0;
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.icon{
		display: block;
		text-align: center;
		margin: 0;
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.qroff{
		display: block;
		overflow: hidden;
		transition-duration: 250ms;
	}
	.qron{
		opacity: 0%;
		overflow: hidden;
		transition: opacity 2s;
	}
	.qroff:hover~.qron, .qron:hover{
		overflow: hidden;
		opacity: 100%;
		transition: opacity 1s;
	}
	.iconoff{
		display: block;
		overflow: hidden;
		transition-duration: 250ms;
		position: relative;
	}
	.iconon{
		opacity: 0%;
		overflow: hidden;
		transition: opacity 2s;
	}
	.iconoff:hover~.iconon, .iconon:hover{
		overflow: hidden;
		opacity: 100%;
		transition: opacity 1s;
	}
	.qr>img, .qr>a, .qr>a>img, .skillbox>div{
		height: 100%;
	}
	.link{
		display: block;
		text-align: center;
		text-transform: uppercase;
		margin: auto;
		font-size: 1.5rem;
		color: #fffcc0ff;
		font-stretch: semi-condensed;
		font-weight: 700;
		font-style: italic;
		text-shadow: #ffc000ff 0 0 7px;
		margin: 1rem;
	}
	.jtext{
		font-stretch: normal;
		font-style: normal;
	}
	#gallery{
		top: 84px;
		height: calc(100% - 140px);
	}
	.arrow{
		position: relative;
		width: 100%;
		height: 100%;
	}
	.arrowoff, .arrowon{
		transition-duration: 750ms;
		width: 100%;
		height: 100%;
	}
	#closeoff, .arrowoff{
		display: block;
		overflow: hidden;
		transition-duration: 250ms;
		position: relative;
	}
	#closeon, .arrowon{
		opacity: 0%;
		display: block;
		position: absolute;
		transition: opacity 2s;
		top: 0;
	}
	.arrowoff:hover~.arrowon, .arrowon:hover, #closeoff:hover~#closeon, #closeon:hover{
		overflow: hidden;
		opacity: 100%;
		transition: opacity 1s;
	}
	.arrowbox{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 50px;
		height: 50px;
	}
	#leftGal{
		left: 3%;
	}
	#rightGal{
		right: 3%;
	}
}